.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: seagreen;
    padding: 10px;
    


}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav li {
    margin-right: 10px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover {
    text-decoration: underline;
    color: blueviolet;
  }

  .logo{
    max-width: 200px;
    margin-right: 20px;
  }

  .logoContainer {
    margin-right: 20px; 
  }


.Categories{
  display: contents;


}  